old/qdft/FhG-ESF/src/main/xml/BpelPolicyTranslatorInterface.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>

<wsdl:definitions name="BpelPolicyTranslatorInterface"
	targetNamespace="http://www.master-fp7.org/BpelPolicyTranslatorInterface/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:tns="http://www.master-fp7.org/BpelPolicyTranslatorInterface/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:bpel="http://docs.oasis-open.org/wsbpel/2.0/process/executable">

	<wsdl:types>
		<xsd:schema targetNamespace="http://www.master-fp7.org/BpelPolicyTranslatorInterface/"
			xmlns:bpel="http://docs.oasis-open.org/wsbpel/2.0/process/executable">

			<xsd:import schemaLocation="ws-bpel_executable.xsd"
				namespace="http://docs.oasis-open.org/wsbpel/2.0/process/executable" />

			<xsd:element name="translateMCalculusToBpel">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="mCalculus" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:element name="translateMCalculusToBpelResponse1">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="out" type="bpel:tProcess"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="translateMCalculusToBpelRequest">
		<wsdl:part name="parameters" element="tns:translateMCalculusToBpel" />
	</wsdl:message>

	<wsdl:message name="translateMCalculusToBpelResponse">
		<wsdl:part name="parameters" element="tns:translateMCalculusToBpelResponse1" />
	</wsdl:message>

	<wsdl:portType name="BpelPolicyTranslatorInterface">
		<wsdl:operation name="translateMCalculusToBpel">
			<wsdl:input message="tns:translateMCalculusToBpelRequest"></wsdl:input>
			<wsdl:output message="tns:translateMCalculusToBpelResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="BpelPolicyTranslatorInterfaceSOAP"
		type="tns:BpelPolicyTranslatorInterface">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="translateMCalculusToBpel">
			<soap:operation
				soapAction="http://www.master-fp7.org/BpelPolicyTranslatorInterface/translateMCalculusToBpel" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="BpelPolicyTranslatorInterface">
		<wsdl:port binding="tns:BpelPolicyTranslatorInterfaceSOAP"
			name="BpelPolicyTranslatorInterfaceSOAP">
			<soap:address location="http://www.matser-fp7.org/" />
		</wsdl:port>
	</wsdl:service>

</wsdl:definitions>