old/qdft/FhG-ESF/src/main/xml/CommonBaseEvent.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:cbe="http://www.ibm.com/AC/commonbaseevent1_1" xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://www.ibm.com/AC/commonbaseevent1_1">
<xsd:complexType name="CommonBaseEventType">
<xsd:sequence>
<xsd:element name="sourceComponentId" type="cbe:ComponentIdentificationType"/>
<xsd:element minOccurs="0" name="reporterComponentId" type="cbe:ComponentIdentificationType"/>
<xsd:element name="situationInformation" type="cbe:SituationInformationType"/>
<xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##other"/>
</xsd:sequence>
</xsd:complexType>
<xsd:element name="CommonBaseEvent" type="cbe:CommonBaseEventType"/>
<xsd:complexType name="SituationInformationType">
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="contextDataElements" type="cbe:ContextDataElementType"/>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="extendedDataElements" type="cbe:ExtendedDataElementType"/>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="associatedEvents" type="cbe:AssociatedEventType"/>
<xsd:element minOccurs="0" name="msgDataElement" type="cbe:MsgDataElementType"/>
<xsd:element minOccurs="0" name="situationType" type="cbe:SituationIdentificationType"/>
</xsd:sequence>
<xsd:attribute name="globalInstanceId" use="optional">
<xsd:simpleType>
<xsd:restriction base="xsd:ID">
<xsd:minLength value="16"/>
<xsd:maxLength value="32"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
<xsd:attribute name="extensionName" use="optional">
<xsd:simpleType>
<xsd:restriction base="xsd:Name">
<xsd:maxLength value="64"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
<xsd:attribute name="localInstanceId" use="optional">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="128"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
<xsd:attribute name="creationTime" type="xsd:dateTime" use="required"/>
<xsd:attribute name="severity" type="cbe:severityType" use="optional"/>
<xsd:attribute name="msg" use="optional">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="1024"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
<xsd:attribute name="priority" type="cbe:priorityType" use="optional"/>
<xsd:attribute name="sequenceNumber" use="optional">
<xsd:simpleType>
<xsd:restriction base="xsd:long">
<xsd:minInclusive value="0"/>
<xsd:maxInclusive value="9223372036854775807"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
<xsd:attribute name="repeatCount" use="optional">
<xsd:simpleType>
<xsd:restriction base="xsd:short">
<xsd:minInclusive value="0"/>
<xsd:maxInclusive value="32767"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
<xsd:attribute name="elapsedTime" use="optional">
<xsd:simpleType>
<xsd:restriction base="xsd:long">
<xsd:minInclusive value="0"/>
<xsd:maxInclusive value="9223372036854775807"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
</xsd:complexType>
<xsd:complexType name="ComponentIdentificationType">
<xsd:attribute name="component" use="required">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="256"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
<xsd:attribute name="subComponent" use="required">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="512"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
<xsd:attribute name="componentIdType" type="cbe:componentIdTypeType" use="required"/>
<xsd:attribute name="instanceId" use="optional">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="128"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
<xsd:attribute name="application" use="optional">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="256"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
<xsd:attribute name="executionEnvironment" use="optional">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="256"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
<xsd:attribute name="location" use="required">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="256"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
<xsd:attribute name="locationType" type="cbe:locationTypeType" use="required"/>
<xsd:attribute name="processId" use="optional">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="64"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
<xsd:attribute name="threadId" use="optional">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="64"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
</xsd:complexType>
<xsd:complexType name="MsgDataElementType">
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="msgCatalogTokens">
<xsd:complexType>
<xsd:attribute name="value" use="required">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="256"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
</xsd:complexType>
</xsd:element>
<xsd:group minOccurs="0" ref="cbe:msgIdGroup"/>
<xsd:group minOccurs="0" ref="cbe:msgCatalogGroup"/>
</xsd:sequence>
<xsd:attribute name="msgLocale" use="optional">
<xsd:simpleType>
<xsd:restriction base="xsd:language">
<xsd:maxLength value="11"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
</xsd:complexType>
<xsd:group name="msgCatalogGroup">
<xsd:sequence>
<xsd:element name="msgCatalogId">
<xsd:simpleType>
<xsd:restriction base="xsd:Name">
<xsd:maxLength value="128"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="msgCatalogType" type="cbe:msgCatalogTypeType"/>
<xsd:element name="msgCatalog">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="128"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
</xsd:sequence>
</xsd:group>
<xsd:group name="msgIdGroup">
<xsd:sequence>
<xsd:element name="msgId">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="256"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="msgIdType" type="cbe:msgIdTypeType"/>
</xsd:sequence>
</xsd:group>
<xsd:simpleType name="locationTypeType">
<xsd:union>
<xsd:simpleType>
<xsd:restriction base="xsd:Name">
<xsd:maxLength value="32"/>
<xsd:enumeration value="UNKNOWN"/>
<xsd:enumeration value="IPV4"/>
<xsd:enumeration value="IPV6"/>
<xsd:enumeration value="NWA"/>
<xsd:enumeration value="ISDN"/>
<xsd:enumeration value="ICD"/>
<xsd:enumeration value="OID-OSI"/>
<xsd:enumeration value="DIAL"/>
<xsd:enumeration value="HWA"/>
<xsd:enumeration value="HID"/>
<xsd:enumeration value="X25"/>
<xsd:enumeration value="DCC"/>
<xsd:enumeration value="SNA"/>
<xsd:enumeration value="IPX"/>
<xsd:enumeration value="E.164"/>
<xsd:enumeration value="Hostname"/>
<xsd:enumeration value="FQHostname"/>
<xsd:enumeration value="DeviceName"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType>
<xsd:restriction base="xsd:Name">
<xsd:maxLength value="32"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:union>
</xsd:simpleType>
<xsd:simpleType name="componentIdTypeType">
<xsd:restriction base="xsd:Name">
<xsd:maxLength value="32"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="msgIdTypeType">
<xsd:union>
<xsd:simpleType>
<xsd:restriction base="xsd:Name">
<xsd:maxLength value="32"/>
<xsd:enumeration value="IBM3.4"/>
<xsd:enumeration value="IBM4.4"/>
<xsd:enumeration value="IBM3.1.4"/>
<xsd:enumeration value="IBM3.4.1"/>
<xsd:enumeration value="IBM4.4.1"/>
<xsd:enumeration value="IBM3.1.4.1"/>
<xsd:enumeration value="JMX"/>
<xsd:enumeration value="DottedName"/>
<xsd:enumeration value="Unknown"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType>
<xsd:restriction base="xsd:Name">
<xsd:maxLength value="32"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:union>
</xsd:simpleType>
<xsd:simpleType name="msgCatalogTypeType">
<xsd:union>
<xsd:simpleType>
<xsd:restriction base="xsd:Name">
<xsd:maxLength value="32"/>
<xsd:enumeration value="JAVA"/>
<xsd:enumeration value="XPG"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType>
<xsd:restriction base="xsd:Name">
<xsd:maxLength value="32"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:union>
</xsd:simpleType>
<xsd:simpleType name="severityType">
<xsd:union>
<xsd:simpleType>
<xsd:restriction base="xsd:short">
<xsd:enumeration value="0"/>
<xsd:enumeration value="10"/>
<xsd:enumeration value="20"/>
<xsd:enumeration value="30"/>
<xsd:enumeration value="40"/>
<xsd:enumeration value="50"/>
<xsd:enumeration value="60"/>
<xsd:minInclusive value="0"/>
<xsd:maxInclusive value="70"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType>
<xsd:restriction base="xsd:short">
<xsd:minInclusive value="0"/>
<xsd:maxInclusive value="70"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:union>
</xsd:simpleType>
<xsd:simpleType name="priorityType">
<xsd:union>
<xsd:simpleType>
<xsd:restriction base="xsd:short">
<xsd:enumeration value="10"/>
<xsd:enumeration value="50"/>
<xsd:enumeration value="70"/>
<xsd:minInclusive value="0"/>
<xsd:maxInclusive value="100"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType>
<xsd:restriction base="xsd:short">
<xsd:minInclusive value="0"/>
<xsd:maxInclusive value="100"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:union>
</xsd:simpleType>
<xsd:complexType name="AssociatedEventType">
<xsd:attribute name="associationEngine" type="xsd:IDREF" use="optional"/>
<xsd:attribute name="resolvedEvents" type="xsd:IDREFS" use="required"/>
</xsd:complexType>
<xsd:complexType name="AssociationEngineType">
<xsd:attribute name="id" use="required">
<xsd:simpleType>
<xsd:restriction base="xsd:ID">
<xsd:minLength value="16"/>
<xsd:maxLength value="32"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
<xsd:attribute name="type" type="cbe:AssociationEngineTypeType" use="required"/>
<xsd:attribute name="name" use="required">
<xsd:simpleType>
<xsd:restriction base="xsd:Name">
<xsd:maxLength value="64"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
</xsd:complexType>
<xsd:element name="AssociationEngine" type="cbe:AssociationEngineType"/>
<xsd:simpleType name="AssociationEngineTypeType">
<xsd:union>
<xsd:simpleType>
<xsd:restriction base="xsd:Name">
<xsd:enumeration value="Contain"/>
<xsd:enumeration value="CausedBy"/>
<xsd:enumeration value="Cleared"/>
<xsd:enumeration value="MultiPart"/>
<xsd:enumeration value="Correlated"/>
<xsd:maxLength value="64"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType>
<xsd:restriction base="xsd:Name">
<xsd:maxLength value="64"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:union>
</xsd:simpleType>
<xsd:complexType name="ExtendedDataElementType">
<xsd:sequence>
<xsd:choice>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="values">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="1024"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element minOccurs="0" name="hexValue" type="xsd:hexBinary"/>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="intValues" type="xsd:int"/>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="longValues" type="xsd:long"/>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="shortValues" type="xsd:short"/>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="dateTimeValues" type="xsd:dateTime"/>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="byteValues" type="xsd:byte"/>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="booleanValues" type="xsd:boolean"/>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="floatValues" type="xsd:float"/>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="doubleValues" type="xsd:double"/>
<xsd:element minOccurs="0" name="largeStringValue" type="xsd:string"/>
</xsd:choice>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="children" type="cbe:ExtendedDataElementType"/>
</xsd:sequence>
<xsd:attribute name="name" use="required">
<xsd:simpleType>
<xsd:restriction base="xsd:Name">
<xsd:maxLength value="64"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
<xsd:attribute name="type" use="required">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:enumeration value="noValue"/>
<xsd:enumeration value="byte"/>
<xsd:enumeration value="short"/>
<xsd:enumeration value="int"/>
<xsd:enumeration value="long"/>
<xsd:enumeration value="float"/>
<xsd:enumeration value="double"/>
<xsd:enumeration value="string"/>
<xsd:enumeration value="dateTime"/>
<xsd:enumeration value="boolean"/>
<xsd:enumeration value="byteArray"/>
<xsd:enumeration value="shortArray"/>
<xsd:enumeration value="intArray"/>
<xsd:enumeration value="longArray"/>
<xsd:enumeration value="floatArray"/>
<xsd:enumeration value="doubleArray"/>
<xsd:enumeration value="stringArray"/>
<xsd:enumeration value="dateTimeArray"/>
<xsd:enumeration value="booleanArray"/>
<xsd:enumeration value="hexBinary"/>
<xsd:enumeration value="largeStringValue"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
</xsd:complexType>
<xsd:complexType name="ContextDataElementType">
<xsd:sequence>
<xsd:choice>
<xsd:element name="contextValue">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="1024"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="contextId" type="xsd:IDREF"/>
</xsd:choice>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="children" type="cbe:ContextDataElementType"/>
</xsd:sequence>
<xsd:attribute name="name" use="required">
<xsd:simpleType>
<xsd:restriction base="xsd:Name">
<xsd:maxLength value="64"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
<xsd:attribute name="type" use="required">
<xsd:simpleType>
<xsd:restriction base="xsd:Name">
<xsd:maxLength value="64"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
</xsd:complexType>
<xsd:complexType name="SituationIdentificationType">
<xsd:attribute name="category" type="cbe:SituationCategoryType" use="required"/>
<xsd:attribute name="successDisposition" type="cbe:SituationSuccessDispositionType" use="required"/>
<xsd:attribute name="situationQualifier" type="cbe:SituationQualifierType" use="required"/>
<xsd:attribute name="operationDisposition" type="cbe:SituationOperationDispositionType" use="optional"/>
<xsd:attribute name="reasoningScope" type="cbe:SituationReasoningScopeType" use="required"/>
<xsd:attribute name="connectDisposition" type="cbe:SituationConnectDispositionType" use="optional"/>
<xsd:attribute name="availabilityDisposition" type="cbe:SituationAvailabilityDispositionType" use="optional"/>
<xsd:attribute name="situationData" use="optional">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="1024"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
</xsd:complexType>
<xsd:simpleType name="SituationCategoryType">
<xsd:union>
<xsd:simpleType>
<xsd:restriction base="xsd:Name">
<xsd:enumeration value="START"/>
<xsd:enumeration value="STOP"/>
<xsd:enumeration value="FEATURE"/>
<xsd:enumeration value="DEPENDENCY"/>
<xsd:enumeration value="REQUEST"/>
<xsd:enumeration value="CONFIGURE"/>
<xsd:enumeration value="CONNECT"/>
<xsd:enumeration value="CREATE"/>
<xsd:enumeration value="REPORT"/>
<xsd:enumeration value="AVAILABLE"/>
<xsd:enumeration value="UNKNOWN"/>
<xsd:maxLength value="64"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType>
<xsd:restriction base="xsd:Name">
<xsd:maxLength value="64"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:union>
</xsd:simpleType>
<xsd:simpleType name="SituationSuccessDispositionType">
<xsd:union>
<xsd:simpleType>
<xsd:restriction base="xsd:Name">
<xsd:enumeration value="SUCCESSFUL"/>
<xsd:enumeration value="UNSUCCESSFUL"/>
<xsd:maxLength value="64"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType>
<xsd:restriction base="xsd:Name">
<xsd:maxLength value="64"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:union>
</xsd:simpleType>
<xsd:simpleType name="SituationQualifierType">
<xsd:union>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:enumeration value="start initiated"/>
<xsd:enumeration value="start completed"/>
<xsd:maxLength value="64"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="64"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:union>
</xsd:simpleType>
<xsd:simpleType name="SituationOperationDispositionType">
<xsd:union>
<xsd:simpleType>
<xsd:restriction base="xsd:Name">
<xsd:enumeration value="startable"/>
<xsd:enumeration value="nonstartable"/>
<xsd:maxLength value="64"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType>
<xsd:restriction base="xsd:Name">
<xsd:maxLength value="64"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:union>
</xsd:simpleType>
<xsd:simpleType name="SituationReasoningScopeType">
<xsd:union>
<xsd:simpleType>
<xsd:restriction base="xsd:Name">
<xsd:enumeration value="Infrastructure"/>
<xsd:enumeration value="Application"/>
<xsd:maxLength value="64"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType>
<xsd:restriction base="xsd:Name">
<xsd:maxLength value="64"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:union>
</xsd:simpleType>
<xsd:simpleType name="SituationConnectDispositionType">
<xsd:union>
<xsd:simpleType>
<xsd:restriction base="xsd:Name">
<xsd:enumeration value="External"/>
<xsd:enumeration value="Internal"/>
<xsd:maxLength value="64"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType>
<xsd:restriction base="xsd:Name">
<xsd:maxLength value="64"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:union>
</xsd:simpleType>
<xsd:simpleType name="SituationAvailabilityDispositionType">
<xsd:union>
<xsd:simpleType>
<xsd:restriction base="xsd:Name">
<xsd:enumeration value="blank"/>
<xsd:maxLength value="64"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType>
<xsd:restriction base="xsd:Name">
<xsd:maxLength value="64"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:union>
</xsd:simpleType>
<xsd:complexType name="CommonBaseEventsType">
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" ref="cbe:AssociationEngine"/>
<xsd:element maxOccurs="unbounded" minOccurs="0" ref="cbe:CommonBaseEvent"/>
</xsd:sequence>
</xsd:complexType>
<xsd:element name="CommonBaseEvents" type="cbe:CommonBaseEventsType"/>
</xsd:schema>
