old/qdft/FhG-ESF/src/main/xml/etl.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid XML Studio 1.0.8.0 (http://www.liquid-technologies.com) -->
<xsd:schema xmlns:tns="http://www.master-fp7.eu/etl" xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.master-fp7.eu/etl" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import schemaLocation="http://www.w3.org/2005/08/addressing/ws-addr.xsd" namespace="http://www.w3.org/2005/08/addressing" />
  <xsd:element name="ETL">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="1" maxOccurs="1" name="endpointReferences" type="tns:EndpointReferencesType" />
        <xsd:element minOccurs="1" maxOccurs="1" name="instanceConfiguration" type="tns:InstanceConfigurationType" />
        <xsd:element minOccurs="1" maxOccurs="1" name="completionCriteria" type="tns:CompletionCriteriaType" />
      </xsd:sequence>
      <xsd:attribute name="interval" type="xsd:int" />
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="EndpointReferencesType">
    <xsd:sequence>
      <xsd:element minOccurs="1" maxOccurs="unbounded" name="EndpointReference">
        <xsd:complexType>
          <xsd:complexContent mixed="false">
            <xsd:extension base="wsa:EndpointReferenceType">
              <xsd:attribute name="type">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="EventLog" />
                    <xsd:enumeration value="IdentityManagementService" />
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:attribute>
            </xsd:extension>
          </xsd:complexContent>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="InstanceConfigurationType">
    <xsd:attribute name="chunkSize" type="xsd:int" />
    <xsd:attribute name="numberOfInstances" type="xsd:int" />
  </xsd:complexType>
  <xsd:complexType name="CompletionCriteriaType">
    <xsd:sequence>
      <xsd:element minOccurs="1" maxOccurs="unbounded" name="all">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="unbounded" name="assertion" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>