old/qdft/FhG-ESF/src/main/xml/master-policy.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid XML Studio 1.0.8.0 (http://www.liquid-technologies.com) -->
<xs:schema
  xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" 
  xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd" 
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://MASTER/policySchemas" 
  xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:psl="http://www.sap.com/psl1_0" 
  xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" 
  xmlns:ind="http://www.master-fp7.eu/indicators" 
  xmlns:fhg="http://www.iese.fhg.de/esf/1.0/enforcementLanguage" 
  xmlns:etl="http://www.master-fp7.eu/etl" 
  xmlns:mc="http://www.master-fp7.eu/mcalculus.xsd" 
  attributeFormDefault="unqualified" 
  elementFormDefault="unqualified" 
  targetNamespace="http://MASTER/policySchemas" 
  xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://schemas.xmlsoap.org/ws/2004/09/policy/ws-policy.xsd" namespace="http://schemas.xmlsoap.org/ws/2004/09/policy" />
  <xs:import schemaLocation="http://www.w3.org/2005/08/addressing/ws-addr.xsd" namespace="http://www.w3.org/2005/08/addressing" />
  <xs:import schemaLocation="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd" namespace="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd" />
  <xs:import schemaLocation="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" namespace="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" />
  <xs:import schemaLocation="psl.xsd" namespace="http://www.sap.com/psl1_0" />
  <xs:import schemaLocation="enforcementLanguage-FhG.xsd" namespace="http://www.iese.fhg.de/esf/1.0/enforcementLanguage" />
  <xs:import schemaLocation="etl.xsd" namespace="http://www.master-fp7.eu/etl" />
  <xs:import schemaLocation="indicators.xsd" namespace="http://www.master-fp7.eu/indicators" />
  <xs:import schemaLocation="mcalculus.xsd" namespace="http://www.master-fp7.eu/mcalculus.xsd" />
  <xs:element name="ControlProcess">
    <xs:complexType>
      <xs:complexContent mixed="false">
        <xs:extension base="tns:OperatorContentType">
          <xs:attribute name="Name" type="xs:anyURI" />
          <xs:attribute ref="wsu:Id" />
          <xs:attribute name="version" type="xs:anySimpleType" />
          <xs:anyAttribute namespace="##any" processContents="lax" />
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="OperatorContentType">
    <xs:sequence>
      <xs:element minOccurs="0" name="services">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" name="service" type="tns:serviceType" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="actions">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" name="action" type="tns:actionType" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="events">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" name="event" type="tns:eventType" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="signallingPolicy" type="tns:signallingPolicyType" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="monitoringPolicy" type="tns:monitoringPolicyType" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="enforcementPolicy" type="tns:enforcementPolicyType" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="assessmentPolicy" type="tns:assessmentPolicyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="serviceType">
    <xs:all>
      <xs:element name="id" type="xs:string" />
      <xs:element ref="wsa:EndpointReference" />
    </xs:all>
  </xs:complexType>
  <xs:complexType name="actionType">
    <xs:all>
      <xs:element name="id" type="xs:string" />
      <xs:element minOccurs="0" name="concept" type="xs:anyURI" />
      <xs:element minOccurs="0" name="operationName" type="xs:string" />
      <xs:element minOccurs="0" name="serviceid" type="xs:integer" />
      <xs:element name="resources">
        <xs:complexType>
          <xs:all minOccurs="0">
            <xs:element name="resource" type="tns:resourceType" />
          </xs:all>
        </xs:complexType>
      </xs:element>
    </xs:all>
  </xs:complexType>
  <xs:complexType name="resourceType">
    <xs:all>
      <xs:element name="id" type="xs:string" />
      <xs:element minOccurs="0" name="concept" type="xs:anyURI" />
      <xs:element minOccurs="0" name="relation">
        <xs:complexType>
          <xs:sequence>
            <xs:any minOccurs="0" namespace="##other" processContents="lax" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="sequence">
        <xs:complexType>
          <xs:sequence>
            <xs:any minOccurs="0" namespace="##other" processContents="lax" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:all>
  </xs:complexType>
  <xs:complexType name="eventType">
    <xs:all>
      <xs:element name="id" type="xs:string" />
      <xs:element minOccurs="0" name="type" type="xs:anyURI" />
    </xs:all>
  </xs:complexType>
  <xs:complexType name="signallingPolicyType">
    <xs:sequence>
      <xs:element name="All">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" name="signallingAssertion" type="tns:signallingAssertionType" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="signallingAssertionType" mixed="true">
    <xs:all>
      <xs:element name="eventCause">
        <xs:complexType>
          <xs:all>
            <xs:element name="onAction" type="xs:string" />
            <xs:element name="onState" type="xs:string" />
            <xs:element minOccurs="0" name="entryPoint">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:enumeration value="enter" />
                  <xs:enumeration value="exit" />
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
          </xs:all>
        </xs:complexType>
      </xs:element>
      <xs:element name="signallingEventID" type="xs:string" />
      <xs:element minOccurs="0" name="blocked" type="xs:string" />
    </xs:all>
  </xs:complexType>
  <xs:complexType name="monitoringPolicyType">
    <xs:sequence>
      <xs:element name="All">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" name="monitoringAssertion" type="tns:monitoringAssertionType" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="monitoringAssertionType">
    <xs:all>
      <xs:element ref="psl:Policy" />
    </xs:all>
  </xs:complexType>
  <xs:complexType name="enforcementPolicyType">
    <xs:sequence>
      <xs:element name="All">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" name="enforcementAssertion" type="tns:enforcementAssertionType" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="enforcementAssertionType">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element ref="mc:reactiveMechanismMC" />
      <xs:element ref="fhg:reactiveMechanism"/>
      <xs:element ref="fhg:preventiveMechanism"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="assessmentPolicyType">
    <xs:sequence>
      <xs:element name="All">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" name="assessmentAssertion" type="tns:assessmentAssertionType" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="assessmentAssertionType">
    <xs:all>
      <xs:element name="SoD" type="tns:SoDType" />
      <xs:element ref="etl:ETL" />
      <xs:element name="key_indicator_definitions" type="tns:IndicatorsType" />
    </xs:all>
  </xs:complexType>
  <xs:complexType name="SoDType">
    <xs:all>
      <xs:element ref="psl:Policy" />
    </xs:all>
  </xs:complexType>
  <xs:complexType name="ETLType">
    <xs:all>
      <xs:element ref="etl:ETL" />
    </xs:all>
  </xs:complexType>
  <xs:complexType name="IndicatorsType">
    <xs:sequence>
      <xs:element ref="ind:key_indicator" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>