old/qdft/FhG-ESF/src/main/xml/trustManager-FhG.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<definitions
  name="TrustManager"
  targetNamespace="http://www.iese.fraunhofer.de/esf/1.0/TrustManager/soap"
  xmlns:tns=      "http://www.iese.fraunhofer.de/esf/1.0/TrustManager/soap"
  xmlns="http://schemas.xmlsoap.org/wsdl/"
  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema" >
  
  <types>
    <schema
      targetNamespace="http://www.iese.fraunhofer.de/esf/1.0/TrustManager/soap"
      xmlns="http://www.w3.org/2001/XMLSchema">
      <complexType name="Status">
        <attribute name="code" type="string" use="required" />
        <attribute name="msg" type="string" use="required" />
      </complexType>
      <complexType name="FileList">
        <sequence>
          <element name="file" minOccurs="1" maxOccurs="unbounded">
            <complexType>
              <attribute name="path" type="string" use="required" />
            </complexType>
          </element>
        </sequence>
      </complexType>
      <complexType name="ASRegistration">
        <sequence>
          <element name="privacyCertificate" type="string" minOccurs="1"
            maxOccurs="1" />
          <element name="pcrQuote" type="string" minOccurs="1" maxOccurs="1" />
        </sequence>
      </complexType>
      <element name="attestationServiceRegistration" type="tns:ASRegistration" />
      <element name="files" type="tns:FileList" />
      <element name="attestationStatus" type="tns:Status" />
    </schema>
  </types>
  
  <message name="RegisterAttestationServiceRequest">
    <part name="attestationServiceRegistration" element="tns:attestationServiceRegistration" />
  </message>
  
  <message name="AttestFileRequest">
    <part name="files" element="tns:files" />
  </message>
  
  <message name="AttestFileResponse">
    <part name="attestationStatus" element="tns:attestationStatus" />
  </message>
  
  <portType name="TrustManager">
    <operation name="registerAttestationService">
      <input message="tns:RegisterAttestationServiceRequest" />
    </operation>
    <operation name="attestFile">
      <input message="tns:AttestFileRequest" />
      <output message="tns:AttestFileResponse" />
    </operation>
  </portType>
  
  <binding name="TrustManagerSOAP" type="tns:TrustManager">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="registerAttestationService">
      <soap:operation soapAction="registerAttestationService"/>
      <input>
        <soap:body use="literal" />
      </input>
    </operation>
    <operation name="attestFile">
      <soap:operation soapAction="attestFile" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  
  <service name="TrustManager">
    <port binding="tns:TrustManagerSOAP" name="TrustManagerSOAP">
      <soap:address location="http://localhost:9008/axis2/services/TrustManager" />
    </port>
  </service>
  
</definitions>